@import "tailwindcss";

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
:root {
  --gradient: linear-gradient(135deg, #d100f3, #002bc5);
}
.custom-gradient {
  background: var(--gradient);
}

.d {
  border: 1px solid red;
}
.text-gradient {
  background: var(--gradient);
  text: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
